<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="robots" content="noindex">
  <title>Vue Project</title>
</head>
<body>
  <div role="app" id="root">
    {{message}}
  </div>
</body>
</html>