:root {
  --color-tw-grey-050: #FBFDFE;
  --color-tw-grey-100: #F7FAFC;
  --color-tw-grey-200: #EDF2F7;
  --color-tw-grey-300: #E2E8F0;
  --color-tw-grey-400: #CBD5E0;
  --color-tw-grey-500: #A0AEC0;
  --color-tw-grey-600: #718096;
  --color-tw-grey-700: #4A5568;
  --color-tw-grey-800: #2D3748;
  --color-tw-grey-900: #1A202C;
  --color-tw-grey: var(--color-tw-grey-500);

  --color-tw-red-100: #FFF5F5;
  --color-tw-red-200: #FED7D7;
  --color-tw-red-300: #FEB2B2;
  --color-tw-red-400: #FC8181;
  --color-tw-red-500: #F56565;
  --color-tw-red-600: #E53E3E;
  --color-tw-red-700: #C53030;
  --color-tw-red-800: #9B2C2C;
  --color-tw-red-900: #742A2A;
  --color-tw-red: var(--color-tw-red-500);
  /*orange*/


  --color-tw-yellow-100: #FFFFF0;
  --color-tw-yellow-200: #FEFCBF;
  --color-tw-yellow-300: #FAF089;
  --color-tw-yellow-400: #F6E05E;
  --color-tw-yellow-500: #ECC94B;
  --color-tw-yellow-600: #D69E2E;
  --color-tw-yellow-700: #B7791F;
  --color-tw-yellow-800: #975A16;
  --color-tw-yellow-900: #744210;
  --color-tw-yellow: var(--color-tw-yellow-500);
}
