<form action="/handle-page" method="post">
  <label for="first-name">First Name:</label>
  <input type="text" id="first-name" name="first-name">

  <label for="last-name">Last Name:</label>
  <input type="text" id="last-name" name="last-name">

  <label for="email">Email:</label>
  <input type="text" id="email" name="email">

  <label for="phone">Phone:</label>
  <input type="text" id="phone" name="phone">
  
  <textarea id="comments" name="comments"></textarea>

  <label for="agree">Agree:</label>
  <input id="agree" type="checkbox" />
</form>
